* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #091921;
}

.clock {
    background-image: url('clock.png');
    background-size: cover;
    height: 15.5rem;
    width: 15.5rem;
    border-radius: 50%;
    position: relative;
    box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05), inset 0 -15px 15px rgba(255, 255, 255, 0.05), 0 15px 15px rgba(0, 0, 0, 0.3), inset 0 15px 15px rgba(0, 0, 0, 0.3);
}

.clock::after {
    content: '';
    position: absolute;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #091921;
}

.hr,
.mn,
.sc {
    height: 100%;
    width: 100%;
    position: absolute;
}

.hr::after {
    content: '';
    position: absolute;
    height: 4.1rem;
    width: 6px;
    background-color: #ff105e;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -92%);
}

.mn::after {
    content: '';
    position: absolute;
    height: 4.7rem;
    width: 4px;
    background-color: #14dbff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -95%);
    border-radius: 10px;
}

.sc::after {
    content: '';
    position: absolute;
    height: 115px;
    width: 2px;
    background-color: #fff;
    z-index: 12;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -95%);
    border-radius: 6px 6px 0 0;
}